
*{
box-sizing: border-box;
}

.containinscription{
    background-color: white;
    width: 65%;
    border-radius: 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

.champsinscription{
    
    width: 55%;
    height: 45rem;
    margin: 2rem;
}

.get_file{
    display: flex;
    justify-content: space-between;
}

.get_file h3{
    margin-left: 3px;
}

.get_file .choose_file{
    width: 10rem;
    border-radius: 5px;
}

.pren .btn_creat{
    margin-left: 55%;
    width: 10rem;
    border-radius: 5px;
}

.avat{
    text-align: center;
}

.avat p{
    margin-right: 3.5rem;
}

.avat .avat_img{
    border-radius: 100%;
    margin-right: 4rem;
    margin-top: 1rem;
    width: 50%;
    height: 26%;
}











.inscrire h1{
    text-align: left;
}

hr{
    width: 110%;
}

#image{
    visibility: hidden;
}